NODE_ENV=staging
PORT=4000

DB_HOST=__STAGING_DB_HOST__
DB_PORT=3306
DB_USER=__STAGING_DB_USER__
DB_PASSWORD=__STAGING_DB_PASSWORD__
DB_NAME=hms_staging

REDIS_URL=__STAGING_REDIS_URL__

JWT_SECRET=__SET_VIA_SECRETS_MANAGER__
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
