NODE_ENV=production
PORT=4000

DB_HOST=__PROD_DB_HOST__
DB_PORT=3306
DB_USER=__PROD_DB_USER__
DB_PASSWORD=__PROD_DB_PASSWORD__
DB_NAME=hms_production

REDIS_URL=__PROD_REDIS_URL__

JWT_SECRET=__SET_VIA_SECRETS_MANAGER__
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
